Repository maximegel/ngrx-tour-of-heroes: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, prettier --write --parser=css, stylelint --fix

chore(commitlint): add scopes
  .commitlintrc
Due: none

chore(lintstaged): remove duplicated prettier command
  .lintstagedrc
Due: none

chore(tslint): add prettier, rxjs and other rules
  tslint.json
Due: none

build: add ngrx dependencies
  package.json
  yarn.lock
Due: none

build: add angular material
  package.json
  src/app/app-routing.module.ts
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/app.routes.ts
  src/index.html
  src/styles.scss
  yarn.lock
Due: prettier --write, tslint --fix, prettier --write --parser=css, stylelint --fix

build: add tailwindcss
  .stylelintrc
  .vscode/settings.json
  angular.json
  package.json
  src/styles.css
  src/styles/base.css
  src/test.ts
  src/theme.scss
  tailwind.config.js
  webpack.config.js
  yarn.lock
Due: prettier --write, tslint --fix, prettier --write --parser=css, stylelint --fix

feat: add application shell
  angular.json
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/app.routes.ts
  src/app/app.urls.ts
  src/app/features/dashboard/dashboard.container.html
  src/app/features/dashboard/dashboard.container.scss
  src/app/features/dashboard/dashboard.container.ts
  src/app/features/dashboard/dashboard.module.ts
  src/app/features/dashboard/dashboard.routes.ts
  src/app/features/heroes/heroes.container.html
  src/app/features/heroes/heroes.container.scss
  src/app/features/heroes/heroes.container.ts
  src/app/features/heroes/heroes.module.ts
  src/app/features/heroes/heroes.routes.ts
  src/app/layouts/shell/shell.component.html
  src/app/layouts/shell/shell.component.scss
  src/app/layouts/shell/shell.component.ts
  src/app/layouts/shell/shell.module.ts
  src/theme.scss
  tailwind.config.js
  tslint.json
Due: prettier --write, tslint --fix, prettier --write --parser=css, stylelint --fix

feat: add heroes page
  README.md
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/app.routes.ts
  src/app/app.urls.ts
  src/app/features/dashboard/dashboard.routes.ts
  src/app/features/heroes/hero-table/hero-table.component.html
  src/app/features/heroes/hero-table/hero-table.component.scss
  src/app/features/heroes/hero-table/hero-table.component.ts
  src/app/features/heroes/hero-table/hero-table.model.ts
  src/app/features/heroes/hero-table/hero-table.module.ts
  src/app/features/heroes/heroes.container.html
  src/app/features/heroes/heroes.container.ts
  src/app/features/heroes/heroes.guard.ts
  src/app/features/heroes/heroes.module.ts
  src/app/features/heroes/heroes.routes.ts
  src/app/index.ts
  src/app/layouts/shell/shell.component.html
  src/app/layouts/shell/shell.component.ts
  src/app/layouts/shell/shell.module.ts
  src/app/store/hero/hero.actions.ts
  src/app/store/hero/hero.effects.ts
  src/app/store/hero/hero.entity.ts
  src/app/store/hero/hero.mocks.ts
  src/app/store/hero/hero.module.ts
  src/app/store/hero/hero.reducer.ts
  src/app/store/hero/hero.selectors.ts
  src/app/store/hero/hero.service.ts
  src/app/store/hero/index.ts
  src/app/store/store.module.ts
  src/styles.css
  src/styles/base.css
  src/theme.scss
  src/theme/_colors.scss
  tailwind.config.js
  tsconfig.app.json
  tsconfig.json
Due: prettier --write, tslint --fix, prettier --write --parser=css, stylelint --fix

feat: add hero detail page
  src/app/features/hero/hero-detail/hero-abilities/hero-abilities.component.html
  src/app/features/hero/hero-detail/hero-abilities/hero-abilities.component.scss
  src/app/features/hero/hero-detail/hero-abilities/hero-abilities.component.ts
  src/app/features/hero/hero-detail/hero-abilities/hero-abilities.model.ts
  src/app/features/hero/hero-detail/hero-abilities/hero-abilities.module.ts
  src/app/features/hero/hero-detail/hero-connections/hero-connections.component.html
  src/app/features/hero/hero-detail/hero-connections/hero-connections.component.scss
  src/app/features/hero/hero-detail/hero-connections/hero-connections.component.ts
  src/app/features/hero/hero-detail/hero-connections/hero-connections.model.ts
  src/app/features/hero/hero-detail/hero-connections/hero-connections.module.ts
  src/app/features/hero/hero-detail/hero-detail.container.html
  src/app/features/hero/hero-detail/hero-detail.container.scss
  src/app/features/hero/hero-detail/hero-detail.container.ts
  src/app/features/hero/hero-detail/hero-detail.guard.ts
  src/app/features/hero/hero-detail/hero-detail.module.ts
  src/app/features/hero/hero-detail/hero-detail.routes.ts
  src/app/features/hero/hero-detail/hero-header/hero-header.component.html
  src/app/features/hero/hero-detail/hero-header/hero-header.component.scss
  src/app/features/hero/hero-detail/hero-header/hero-header.component.ts
  src/app/features/hero/hero-detail/hero-header/hero-header.model.ts
  src/app/features/hero/hero-detail/hero-header/hero-header.module.ts
  src/app/features/hero/hero-detail/hero-stat/hero-stat.component.html
  src/app/features/hero/hero-detail/hero-stat/hero-stat.component.ts
  src/app/features/hero/hero-detail/hero-stat/hero-stat.module.ts
  src/app/features/hero/hero-edit/hero-edit.container.html
  src/app/features/hero/hero-edit/hero-edit.container.scss
  src/app/features/hero/hero-edit/hero-edit.container.ts
  src/app/features/hero/hero-edit/hero-edit.module.ts
  src/app/features/hero/hero-edit/hero-edit.routes.ts
  src/app/features/hero/hero.routes.ts
Due: prettier --write, tslint --fix, prettier --write --parser=css, stylelint --fix

build: fix commonjs dependencies warn
  angular.json
Due: none

build: update angular to v11
  package.json
  yarn.lock
Due: none

chore: add vscode launch config
  .vscode/launch.json
Due: none

fix: wait until data loaded before navigating
  src/app/app.module.ts
  src/app/features/hero/hero-detail/hero-detail.guard.ts
  src/app/features/hero/hero-detail/hero-detail.routes.ts
  src/app/features/hero/hero-edit/hero-edit.guard.ts
  src/app/features/hero/hero-edit/hero-edit.routes.ts
  src/app/features/heroes/heroes.guard.ts
  src/app/store/hero/hero.effects.ts
  src/app/store/hero/hero.reducer.ts
  src/app/store/hero/hero.selectors.ts
  src/app/store/store.module.ts
  src/main.ts
Due: prettier --write, tslint --fix

fix: fix cyclic dependencies in store hero entities
  src/app/store/hero/hero.service.ts
Due: prettier --write, tslint --fix

refactor: remove "contextual-bar" dependency to "app-bar"
  src/app/layouts/shell/app-bar/app-bar.component.html
  src/app/layouts/shell/app-bar/app-bar.component.ts
  src/app/layouts/shell/app-bar/app-bar.module.ts
  src/app/shared/contextual-bar/contextual-bar-container.component.scss
  src/app/shared/contextual-bar/contextual-bar-container.component.ts
  src/app/shared/contextual-bar/contextual-bar-outlet.component.scss
  src/app/shared/contextual-bar/contextual-bar-outlet.component.ts
  src/app/shared/contextual-bar/contextual-bar.component.ts
  src/app/shared/contextual-bar/contextual-bar.module.ts
  src/app/shared/contextual-bar/contextual-bar.service.ts
  src/app/shared/contextual-bar/index.ts
Due: prettier --write, tslint --fix, prettier --write --parser=css, stylelint --fix

refactor: turn "hero-form" into a control value accessor
  src/app/features/hero/hero-edit/hero-edit.container.html
  src/app/features/hero/hero-edit/hero-edit.container.ts
  src/app/features/hero/hero-edit/hero-edit.module.ts
  src/app/features/hero/hero-edit/hero-form/hero-form.component.html
  src/app/features/hero/hero-edit/hero-form/hero-form.component.ts
  src/app/features/hero/hero-edit/hero-form/hero-form.model.ts
Due: prettier --write, tslint --fix

fix: handle undefined hero ability image
  src/app/features/hero/hero-detail/hero-abilities/hero-abilities.component.html
Due: prettier --write

feat: gracefully handle errors
  .editorconfig
  package.json
  src/app/app.module.ts
  src/app/app.routes.ts
  src/app/app.urls.ts
  src/app/core/errors/errors.ts
  src/app/core/errors/index.ts
  src/app/features/error/error.module.ts
  src/app/features/error/error.routes.ts
  src/app/features/error/not-found/not-found.component.html
  src/app/features/error/not-found/not-found.component.scss
  src/app/features/error/not-found/not-found.component.ts
  src/app/features/error/not-found/not-found.module.ts
  src/app/features/error/not-found/not-found.routes.ts
  src/app/features/hero/hero-detail/hero-detail.container.html
  src/app/features/hero/hero-detail/hero-detail.container.ts
  src/app/features/hero/hero-detail/hero-detail.guard.ts
  src/app/features/hero/hero-detail/hero-detail.module.ts
  src/app/features/hero/hero-edit/hero-edit.container.ts
  src/app/features/hero/hero-edit/hero-edit.guard.ts
  src/app/features/hero/hero.routes.ts
  src/app/features/heroes/heroes.container.ts
  src/app/shared/error-state/error-state.component.html
  src/app/shared/error-state/error-state.component.scss
  src/app/shared/error-state/error-state.component.ts
  src/app/shared/error-state/error-state.module.ts
  src/app/store/hero/hero.actions.ts
  src/app/store/hero/hero.effects.ts
  src/app/store/hero/hero.mocks.ts
  src/app/store/hero/hero.reducer.ts
  src/app/store/hero/hero.selectors.ts
  src/app/store/hero/hero.service.ts
  src/app/store/store.module.ts
  src/theme/components/_form-field.scss
  tsconfig.json
  tslint.json
Due: prettier --write, tslint --fix, prettier --write --parser=css, stylelint --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss}
  tslint --fix: any of: *.{js,ts}
  prettier --write --parser=css: any of: *.{css,scss}
  stylelint --fix: any of: *.{css,scss}
